#showList {
  display: none;
}
.choreResult {
  cursor: pointer;
  color: #0088cc;
}
.choreResult:hover {
  text-decoration: underline;
}
.closer:hover {
  cursor: pointer;
}

.closer {
  color: red;
  font-weight: bold;
}

body {
  background: url(img/to-do-list.jpg);
}
